* {
    display: flexbox;
    font-family: Raleway, sans-serif;
}

figcaption {
  font-weight: bold;
  font-size: 14px;
}

aside {
  font-size: 12px;
  opacity: 0.8;
}

                    /*Header*/
.logo {
  width: 100px;
  height: 40px;
}

.navigation li{
  display: inline;
  justify-content: right;
  font-size: 14px

}



                    /*Hebergement*/
.hebergement {
  background-color: #F2F2F2; 
  padding: 20px;
  margin: 20px;
  width: 50%;
  float: left; 
  border-radius: 20px; 
  height: 525px; 
  width: 900px; 
  display: inline;
}

.hebergement img{
  height: 90px;
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergement figure{
  background-color: white;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  display: inline-block;


}


                  /*Les Plus Populaires*/
.plus_populaires {
  background-color: #F2F2F2; 
  padding: 20px;
  margin: 20px;
  width: 350px; 
  float: right; 
  border-radius: 20px;
  height: 525px;
  display: inline;
}

.plus_populaires img{
  height: 90px;
  width: 85px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
}
.plus_populaires figure{
  background-color: white;
  width: 260px;
  height: 92px;
  border-radius: 10px;
  margin: 20px;
}
.plus_populaires figcaption{
  float: left;
  padding: 5px;
}
.plus_populaires aside{
  float: left;
  padding: 5px;
}


                  /*Activite*/










.footer-clean {
    padding:50px 0;
    background-color : #F2F2F2;
    color:Black;
    clear: both;
    position: relative;
}

  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration: none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
    color: blue;
  }
  
